
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

p, button {
    font-family: "Inter", sans-serif;
}

a.active {
    color: blue;
}


@keyframes spin-slow {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.animate-spin-slow {
    animation: spin-slow 3s linear infinite;
}
